* {
  text-align: center;
  background : #282c34
}

.home {
  color: white;
  align-items: center;
}

.workout-form {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#input {
  border : outset;
  border-radius: 20px;
  border-color: rgb(142, 159, 190);
  padding-right: 50px;
  padding-left: 50px;
  color: white;
}

#type-select {
  border : outset;
  border-radius: 20px;
  border-color: rgb(142, 159, 190);
  padding-right: 50px;
  padding-left: 50px;
  color: white;
}

#btn {
  border : outset;
  border-radius: 20px;
  border-color: rgb(142, 159, 190);
  padding-right: 50px;
  padding-left: 50px;
  color: white;
}

.workout-list {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.my-workouts {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.workout {
  border : outset;
  border-radius: 20px;
  border-color: rgb(142, 159, 190);
  padding-right: 50px;
  padding-left: 50px;
  width: 25%
}

.navlink {
  border: solid;
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 40px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
